@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
.Game
{
    width:73rem;
    margin-left:13rem;
    margin-top:5rem;
    text-align: center;
    background-color: black;
}
.h1
{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    color: limegreen;
}
.h
{
    font-family: 'Sansita Swashed', cursive;
    font-size: 4.8rem;
    color: orangered;
    margin-left:24.5rem;
}
.h2
{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    color: limegreen;
    margin-left:37.5rem;
}

