h2
{
    font-family: 'Courgette', cursive;
    color: lawngreen;
}
b{
    font-family: 'Courgette', cursive;
    color: hotpink;
}
i
{
    font-size: 2rem;
    font-family: 'Courgette', cursive;
    color: hotpink;
}
p
{
    font-size: 1.4rem;
    font-family: 'Courgette', cursive;
    color: royalblue;
}